:root {
  --primary-color: 94, 190, 196;
  --secondary-color: 249, 44, 133;
  --background-color: 253, 245, 233;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 1em 1em;
  height: 100vh;
  background-color: rgba(var(--background-color));
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
/* * Header */
.header {
  color: rgba(var(--primary-color));
  text-align: center;
}
ul {
  transform: rotate(180deg);
}
ul > .todo-item {
  transform: rotate(-180deg);
}
/* * Form input */
.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.form-container .forms {
  display: flex;
}
.inputs {
  border: none;
  padding: 0.5em;
  font-size: medium;
  border-radius: 0.25em 0 0 0.25em;
}
.inputs:focus {
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn {
  font-size: medium;
  padding: 0.5em;
  border: none;
  border-radius: 0 0.25em 0.25em 0;
}
.btn-primary {
  background-color: rgba(var(--primary-color));
  color: #fff;
}
.btn-primary:hover {
  background-color: rgba(var(--primary-color), 0.5);
  color: rgba(var(--primary-color));
  cursor: pointer;
}
/* * Container */
@media (min-width: 375px) {
  .container {
    min-width: 90%;
    max-width: 90%;
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }
}
@media (min-width: 769px) {
  .container {
    min-width: 50%;
    max-width: 800px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
  }
}
/** Sort */
.sort {
  display: flex;
  justify-content: flex-end;
}
.sort .btn {
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: #fff;
  border-radius: 0.25em;
  color: rgba(0, 0, 0);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
  padding: 0.5em 1em;
}
.sort .btn:hover {
  border-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* * Todo */
.todo-list {
  list-style: none;
}

.todo-item {
  border-radius: 0.5em;
  margin-bottom: 0.75em;
  padding: 0.75em;
  background-color: rgba(255, 255, 255);
  font-size: medium;
  transition: all 100ms ease-in-out;
  transform: scale(1) rotate(-180deg);
}
.todo-item:hover {
  cursor: pointer;
  transform: scale(1.025) rotate(180deg);
  transition: all 100ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
}
.item {
  gap: 1em;
  display: flex;
  align-items: center;
}
.title {
  max-width: 95%;
  margin: 0 1em;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* * Completed  */
.complete-conatiner {
}
